@import 'bootstrap.scss';

$serif: Georgia, serif;
$sans-serif: Arial, sans-serif;

$dark-gray: #333;
$gray: #999;
$light-gray: #ccc;
$active-color: #92B5C4;

$circle-color: $light-gray;
$receiver-color: #FFFF00;
$feeder-color: #FF0000;

$stage-border: 1px solid #999;

.clear {
  clear: both;
}

.graphic {
  width: 960px;
  margin: auto;
  font-family: $sans-serif;
  font-size: 16px;
  color: $dark-gray;

  h3 {
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0;
  }

  h4 {
    font-family: $sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8em;
    color: $gray;
    margin: 0;
  }

  p {
    margin: 10px 0;
    font-family: $serif;
    font-size: 1.1em;
  }

  ul, ol {
    margin: 5px 0;
  }
}

.col {
  float: left;
  width: 360px;
  margin-left: 10px;
  margin-top: 20px;
}

.box {
  float: left;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 6px 0 0;
}
.box.receiver {
  background-color: lighten($receiver-color, 20%);
}
.box.feeder {
  background-color: lighten($feeder-color, 20%);
}

.pac-hover {
  cursor: pointer;
  padding: 0 4px;
  line-height: 1.5em;
}
.pac-hover.active {
  background-color: $active-color;
}

.stage {
  float: left;
  background-color: #fff;
  border: $stage-border;
  border-right: none;
  padding: 4px 8px;
  cursor: pointer;
}
.stage:last-child {
  border-right: $stage-border;
}
.stage:hover {
  background-color: #efefef;
}
.stage.active {
  background-color: #efefef;
}

#chart-wrapper {
  position: relative;
  width: 590px;
  float: left;
}

#tooltip-target {
  pointer-events: none;
  background: #fff;
  border: 2px solid $active-color;
  padding: 4px 10px;
  line-height: 1.1em;

  .info-wrapper {
    width: 210px;
  }

  .name {
    font-size: 1.1em;
    margin-bottom: 4px;
  }
  .label {
    color: $dark-gray;
    font-size: 0.9em;
    float: left;
  }
  .value {
    font-weight: bold;
    float: right;
  }
}

.triangle-left {
  position: absolute;
  width: 0;
  height: 0;
}
.triangle-left.outer {
  border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right: 10px solid darken($circle-color, 40%); 
  top: 20px;
  left: -12px;
}
.triangle-left.inner {
  border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-right: 8px solid #fff; 
  top: 22px;
  left: -8px;
  z-index: 1;
}

text {
  fill: #333;
  stroke: none;
  font-family: arial, sans-serif;
  font-size: 11px;
  text-anchor: middle;
}

.axis {
  shape-rendering: crispEdges;
  fill: none;
  stroke: #eee;

  .tick:first-child {
    stroke: #000;
  }

  .domain {
    stroke: none;
  }
}

.pac {
  fill: $circle-color;
  stroke: darken($circle-color, 50%);
  opacity: 0.8;
  cursor: pointer;
}
.pac.active {
  stroke-width: 2px;
  stroke: darken($active-color, 40%);
  fill: $active-color;
}
.pac.lean-r {
  fill: red;
}
.pac.lean-d {
  fill: blue;
}

.link {
  stroke: #666;
  pointer-events: none;
  display: none;
}
.link.link-to {
  stroke-dasharray: 1,4;
}

.highlights {
  rect {
    opacity: 0.6;
  }

  .receivers {
    fill: url(#gradient-receiver);
  }

  .feeders {
    fill: url(#gradient-feeder);
  }
}

.annotations {
  text {
    font-size: 13px;
  }
}

#legend-target {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border-top: 1px solid $light-gray;
  padding-top: 10px;

  text {
    text-anchor: start;
  }

  line {
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke: $gray;
  }

  .pac {
    cursor: auto;
  }

  .link {
    shape-rendering: crispEdges;
    stroke-width: 2px;
    display: block;
  }
}

