.node {
  fill: #ccc;
  stroke: #333;
  opacity: 0.8;
}

.link {
  stroke: #666;
  stroke-width: 1;
}

marker {
  overflow: auto;
}

.underlay {
  fill: #fff;
}

.triangle {
}

.triangle.outer {
  @extend .triangle;
  stroke-width: 10px;
  fill: #fff;
  stroke: #fff;
}
.inner {
  @extend .triangle;
  stroke-width: 10px;
  fill: #666;
  stroke: #666;
}

path {
  stroke-width: 1px;
  stroke: #ccc;
}

